<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- *meta tags --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageDescription }}">
    <meta name="author" content="{{ pageAuthor }}">
    <meta name="keywords" content="{{ pageKeywords }}">
    <title>{{ pageTitle }}</title>
    {{!-- *link tags: --}}
    <link rel="stylesheet" href="../../public/css/dashboard.css">
    <link rel="stylesheet" href="../../public/css/resources/scrollbar.css">
    <link rel="stylesheet" href="../../public/css/resources/error.css">
    {{!-- ?for each css path creater link --}}
    <link rel="icon" href="../../public/images/icon.png">
    {{!-- *og tags: --}}
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:image" content="../public/images/logo.png">
    <meta property="og:site_name" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:type" content="{{ pageType }}">
    <meta property="og:url" content="{{ pageUrl }}">
    {{!-- *script tags: --}}
    {{!-- !Note: when deploying, replace "development.js" with "production.min.js". --}}
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    {{!-- !Don't use this in production: --}}
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div class="main-content">
        <div class="left-panel">
            <div class="logo">
                <a href="/">
                    <img src="../../public/images/logo.png" draggable="false" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li class="menu-item" id="menu-home" onclick="window.location='/'">
                    <img src="../../public/images/{{#if isHome}}solid{{else}}line{{/if}}/home.svg" draggable="false" alt="Home" class="icon">
                    <span {{#if isHome}}style="font-weight: bold;"{{/if}} class="text">Home</span>
                </li>
                <li class="menu-item" id="menu-search" onclick="window.location='/search'">
                    <img src="../../public/images/{{#if isSearch}}solid{{else}}line{{/if}}/search.svg" draggable="false" alt="Search" class="icon">
                    <span {{#if isSearch}}style="font-weight: bold;"{{/if}} class="text">Search</span>
                </li>
                <li class="menu-item" id="menu-messages" onclick="window.location='/messages'">
                    <img src="../../public/images/{{#if isMessages}}solid{{else}}line{{/if}}/chat.svg" draggable="false" alt="Messages" class="icon">
                    <span {{#if isMessages}}style="font-weight: bold;"{{/if}} class="text">Messages</span>
                </li>
                <li class="menu-item" id="menu-notifications" onclick="window.location='/notifications'">
                    <img src="../../public/images/{{#if isNotifications}}solid{{else}}line{{/if}}/collection.svg" draggable="false" alt="Notifications" class="icon">
                    <span {{#if isNotifications}}style="font-weight: bold;"{{/if}} class="text">Notifications</span>
                </li>
                <li class="menu-item" id="menu-create" onclick="window.location='/create'">
                    <img src="../../public/images/{{#if isCreate}}solid{{else}}line{{/if}}/plus.svg" draggable="false" alt="Create" class="icon">
                    <span {{#if isCreate}}style="font-weight: bold;"{{/if}} class="text">Create</span>
                </li>
                <li class="menu-item" id="menu-profile" onclick="window.location='/profile'">
                    <img src="../../public/images/line/user.svg" {{#if isProfile}}style="border: 2px solid white;"{{/if}} draggable="false" alt="Profile" class="icon">
                    <span {{#if isProfile}}style="font-weight: bold;"{{/if}} class="text">Profile</span>
                </li>
                <li class="menu-item" id="menu-settings" onclick="window.location='/settings'">
                    <img src="../../public/images/{{#if isSettings}}solid{{else}}line{{/if}}/adjustments.svg" draggable="false" alt="Settings" class="icon">
                    <span {{#if isSettings}}style="font-weight: bold;"{{/if}} class="text">Settings</span>
                </li>
            </ul>
        </div>
        <div class="right-panel">
            <noscript>
                <div class="error">You need to enable JavaScript to run this app.</div>
            </noscript>
        </div>
    </div>
    {{!-- ?for each js or jsx path create script src --}}
</body>
</html>