<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- *meta tags --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageDescription }}">
    <meta name="author" content="{{ pageAuthor }}">
    <meta name="keywords" content="{{ pageKeywords }}">
    <title>{{ pageTitle }}</title>
    {{!-- *link tags: --}}
    <link rel="stylesheet" href="../../public/css/dashboard.css">
    <link rel="stylesheet" href="../../public/css/resources/scrollbar.css">
    <link rel="stylesheet" href="../../public/css/resources/error.css">
    <link rel="stylesheet" href="../../public/css/resources/home.css">
    <link rel="stylesheet" href="../../public/css/resources/search.css">
    <link rel="stylesheet" href="../../public/css/resources/messages.css">
    <link rel="stylesheet" href="../../public/css/resources/notifications.css">
    <link rel="stylesheet" href="../../public/css/resources/create.css">
    <link rel="stylesheet" href="../../public/css/resources/profile.css">
    <link rel="stylesheet" href="../../public/css/resources/settings.css">
    <link rel="icon" href="../../public/images/icon.png">
    {{!-- *og tags: --}}
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:image" content="../public/images/logo.png">
    <meta property="og:site_name" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:type" content="{{ pageType }}">
    <meta property="og:url" content="{{ pageUrl }}">
    {{!-- *script tags: --}}
    {{!-- !Note: when deploying, replace "development.js" with "production.min.js". --}}
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    {{!-- !Don't use this in production: --}}
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div class="main-content" id="main-content">
        <noscript>
            <div class="error">You need to enable JavaScript to run this app.</div>
        </noscript>
    </div>
    {{!-- *App --}}
    <script src="../../public/js/components/App.js" type="text/babel"></script>
    {{!-- *index --}}
    <script src="../../public/js/index.js" type="text/babel"></script>
</body>
</html>