<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageDescription }}">
    <meta name="author" content="{{ pageAuthor }}">
    <meta name="keywords" content="{{ pageKeywords }}">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../public/css/sign_up.css">
    <link rel="stylesheet" href="../public/css/scrollbar.css">
    <link rel="icon" href="../public/images/logo.png">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:image" content="../public/images/logo.png">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:type" content="{{ pageType }}">
    <meta property="og:url" content="{{ pageUrl }}">
</head>

<body>
    <div class="nav-bar"></div>
    <div class="main-content">
        <div class="left-panel"></div>
        <div class="mid-panel"></div>
        <div class="right-panel"></div>
    </div>
</body>

</html>